<%- include("partials/header") -%>
<div id="wrap">
  <div id="main" class="container clear-top">

    <h1>About Us</h1>
    <div>
      <p>
        <%= aboutContent %>
        </p>
      </div>

</div>
</div>
<%- include("partials/footer") -%>
